body,td,th {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	color: #000;
	}
body {
	background: #E1E1E9;
	margin: 0px 0px 0px 0px;
	}
a:link, a:visited, a:active {
	color: #F58D23;
	text-decoration: underline;
	font-weight: bold;
	}
a:hover {
	color: #F58D23;
	text-decoration: none;
	}
hr {
	margin: 15px 0px 15px 0px;
	color: #036;
	height: 1px;
	width: 100%;
	}
p {
	margin: 0px 0px 20px 0px;
	padding: 0px;
	}
h1 {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #345278;
	margin: 0px 0px 5px -2px;
	}
h2 {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1px;
	color: gray;
	margin: 35px 0px 5px 0px;
	}
form {
	margin: 0;
	}

#main {
	background: url(images/middle.png) repeat-y top center white;
	width: 840px;
	text-align: left;
	margin: auto 0px;
	}
#content {
	margin: 20px 55px 20px 55px;
	}
#navbar {
	background: url(images/top.png) no-repeat top center;
	padding: 0px 35px 10px 10px;
	height: 170px;
	text-transform: lowercase;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	}
#navbar ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	float: right;
	}
#navbar li {
	margin: 4px 15px 0px 0px;
	float: left;
	}
#navbar li a {
	color: #627D9F;
	text-decoration: none;
	}
#navbar li a:hover {
	color: #E1E1E9;
	text-decoration: none;
	}
#footer {
	background: url(images/bottom.png) bottom center no-repeat;
	width: 840px;
	font-size: 12px;
	color: #999;
	margin: 30px 0px 0px 0px;
	padding: 0px auto;
	height: 60px;
	text-align: center;
	}
.menu_current {
	color: orange !important;
	}
#features td img {
	margin: 5px 20px 5px 0px;
	}
#features h2 {
	margin-top: 5px;
	}
#shotbox {
	background: silver;
	background: #345278;
	width: 162px;
	float: right;
	margin-left: 20px;
	}
#shotbox h3 {
	text-align: center;
	margin: 10px 0px 10px 0px;
	color: #617C9E;
	}
#shotbox img {
	margin: 0px 20px 20px 20px;
	border: 1px solid #143258;
	}
#downloadbox {
	background: #EBEBEB;
	display: table-cell;
	padding: 20px 40px;
	}
